<div class="devsecopsdad-hero">

  <!-- Logo -->
  <img
    src="{{ 'assets/img/DevSecOpsDad_Logo.png' | relative_url }}"
    alt="DevSecOpsDad Logo"
    class="devsecopsdad-hero-logo"
  />

  <!-- Title 
  <h1 class="devsecopsdad-hero-title">
    <span class="brand-devsecops">DEVSECOPS</span><span class="brand-dad">DAD</span>
  </h1> -->

  <!-- Tagline -->
  <p class="devsecopsdad-hero-subtitle">
    Microsoft XDR, KQL, real-world security engineering, and other fun stuff from DevSecOpsDad, your friendly neighbourhood Attack Surface Samurai.
  </p>

</div>
